/*font-family: 'Roboto', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;*/


.main-nav{
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.logo-wrapper{
  float: left;
  width: 25%;
}

.brand-image{
  float: left;
  width: 170px;
  margin-top: 31px;
}

.hamburger-menu{
  display: none;
}

.nav-links{
  /*width: 60%;*/
  float: right;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0 0;
  font-family: 'lato', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 35px;

}

.nav-links a {
  /*float: left;*/
  margin-left: 20px;
}

#apply{
  padding: 10px 30px;
  background-color: #2AABE2;
  color: white;
  font-weight: 600;
  float: right;
  margin-top: -10px;
}

#apply:hover{
  background-color: #57bde8;
}

body{
  margin: 0 0;
  font-family: 'lato', sans-serif;
  color: rgb(64, 64, 65);
}
a{
  cursor: pointer;
  text-decoration: none;
}

.home-intro{
  background: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) ), url("./img/group-proj-index.jpg");
  color: white;
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20vh 18%;
  font-size: 30px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
}
h1{
  font-size: 43px;
  letter-spacing: 4px;
}

.home-devmtn-features{
  margin-top: 12%;
  margin-bottom: 7%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*width: 33%;*/
}

.feature-link{
  width: 280px;
  background-color: #2AABE2;
  padding: 17px 0px;
  font-size: 15px;
  margin: 5px 2.5px;
  font-family: 'lato', sans-serif;
  font-weight: 400;
}

.feature-link:hover{
  background-color: #57bde8;
}

h2{
  font-size: 30px;
  letter-spacing: 4px;
}
.home-launch-career{
  font-size: 20px;
  letter-spacing: 4px;
}

.home-courses{
  padding: 100px 0;
  background-color: rgb(241, 241, 241);
  color: rgb(64, 64, 65);
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 600;
  text-transform: none;
}

h4{
  font-size: 28px;
  letter-spacing: 1.8px;
  margin-top: 0;
}

.course-icons{
  display: flex;
  justify-content: center;
  align-content: center;
}

.course-icons img{
  width: auto;
  height: 60px;
  margin: 0 25px;
  margin-bottom: 20px;
}

.course-links{
  display: flex;
  justify-content: center;
  align-content: center;
}

.course-link {
  width: 100px;
  background-color: #2AABE2;
  padding: 8px 0px;
  font-size: 13px;
  color: white;
  margin: 10px 2.5px;
}

.course-link:hover{
  background-color: #57bde8;
}

.see-all-courses {
  font-size: 13px;
  color: #2AABE2;
}
.see-all-courses i {
  margin-right: 5px;
}

.home-unique{
  padding: 100px;
  max-width: 1000px;
  margin: 0 auto;
  color: rgb(64, 64, 65);
  text-align: center;
  font-weight: 400;
  letter-spacing: .8px;
}

h5{
  font-size: 28px;
  letter-spacing: 1.8px;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 600;
}

.unique-container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.unique{
  width: 30%;
  padding: 0 20px;
}

.unique img{
  width: auto;
  height: 175px;
}

.unique-description{
  line-height: 1.6;
  text-align: left;
  font-size: 16px;
  margin-bottom: 25px;
}

.unique-title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.learn-more-link {
  width: 100%;
  background-color: #2AABE2;
  padding: 10px 0px;
  font-size: 13px;
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.learn-more-link i{
  margin-left: 5px;
}

.learn-more-link:hover{
  background-color: #57bde8;
}

.newsletter-nav {
  background-color: rgb(40, 40, 40);
  color: white;
  height: 60px;
  width: 80%;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 16px 0 rgba(20,20,20,0.5);
  position: fixed;
  bottom: -80px;
  z-index: 20;
  padding: 10px 10%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: 'lato', sans-serif;
  font-size: 13px;
  letter-spacing: 1.4px;
  /*transform: translateY(-80px);
  transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);*/
}

.newsletter-logo{
  margin: 10px;
  height: 40px;
  width:auto;
  margin-right: 30px;
}

.newsletter-content{
  /*width: 60%;*/
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.newsletter-content p{
  margin-top: 22px;

}

.newsletter-content a{
  margin-top: 11px;
  margin-left: 30px;
  width: 200px;
  height: 18px;
  padding: 10px 0;
  background-color: #2AABE2;
  font-weight: 600;
}

.newsletter-content a:hover{
  background-color: #57bde8;
}

.close-newsletter{
  position: absolute;
  right: 20px;
  bottom: 29px;
  font-size: 20px;
  cursor: pointer;
}

.hide-newsletter-nav{
  display: none;
}

.show-newsletter-nav{
  bottom: 0;
  transform: translateY(0);
  transition: bottom .5s cubic-bezier(.56,.1,.34,.91);
}

.newsletter-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.3);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.newsletter-popup-container {
  width: 520px;
  height: 320px;
  background-color: white;
  border: 10px solid rgb(20, 20, 20);
  color: rgb(20, 20, 20);
  text-align: center;
  position: absolute;
}

.newsletter-popup-content {
  padding: 30px 10px;
  font-family: 'lato', sans-serif;
}

.newsletter-popup-close i {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 18px;
}

.icon-devmtn-logo{
  width: 180px;
}

h3 {
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 6px;
}
.newsletter-text {
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 35px 10px;
}

.newsletter-signup-popup {
   margin-top: 30px;
   margin-bottom: 30px;
 }

input {
  border: none;
  border-bottom: 1px solid rgb(20, 20, 20);
  font-size: 17px;
  min-width: 275px;
  padding: 10px 20px;
  padding-left: 0;
  letter-spacing: 3px;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  outline: none;
  color: rgb(20, 20, 20);
}

button {
  border: none;
  background-color: #2AABE2;
  margin-left: 10px;
  height: 40px;
  width: 100px;
  line-height: 40px;
  vertical-align: bottom;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: white;
  padding: 1px 0;
}

button:hover {
  background-color: #57bde8;
}

button:focus{
  outline: none;
}

.hide-newsletter-popup {
  display: none;
}

@media (max-width: 1400px){

  .home-devmtn-features{
    margin-top: 5%;
    margin-bottom: 7%;
  }

}

@media (max-width: 769px){
  .nav-links{
    display: none;
  }

  .hamburger-menu{
    display: block;
    float: right;
    position: relative;
    top: 30px;
    /*right: 20px;*/
    font-size: 25px;
    color: #2AABE2;
    cursor: pointer;
  }

  h1{
    font-size: 35px;
  }
  h2{
    font-size: 20px;
  }
  .home-launch-career {
    font-size: 16px;
    text-transform: none;
  }

  .course-links{
    padding: 0 10%;
  }

  .home-unique{
    padding-left: 3%;
    padding-right: 3%;
  }

  .unique{
    padding: 0 16px;
  }

  .newsletter-content p{
    margin-top: 16px;
  }

  .newsletter-nav{
    font-size: 12px;
  }

  .newsletter-content a{
    margin-top: 12px;
    height: 15px;
  }

}

@media (max-width: 426px){

  .home-intro{
    padding: 20vh 5%;
  }
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 18px;
  }
  .home-launch-career{
    font-size: 15px;
  }
  .home-devmtn-features{
    margin-top: 12%;
    margin-bottom: 14%;
  }

  .feature-link{
    width: 170px;
    padding: 12px 0;
    font-size: 9px;
  }

  .home-courses{
    padding: 70px 3%;
  }

  .course-links{
    display: block;
    padding: 0 5%;
  }

  .course-icons img{
    height: 45px;
  }

  .course-link {
    position: relative;
    right: 0;
    width: 100%;
    margin: 10px 0;
  }

  .home-unique{
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 8%;
    padding-right: 8%;
  }

  .unique-container{
    display: block;
    text-align: center;
  }
  .unique {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }

  .newsletter-content p{
    display: none;
  }
  .newsletter-nav{
    padding: 10px 0;
    width: 100%;
  }

  .newsletter-content{
    width: 90%;
    display: block;
    text-align: center;
  }

  .newsletter-logo{
    margin-right: 10px;
    float: left;
  }

  .newsletter-content a{
    margin-left: 0px;
    width: 170px;
    float: left;
    margin-left: 11%;
  }

  .close-newsletter{
    right: 10px;
  }

  .newsletter-popup-container{
    width: 90%;
    height: auto;
  }

  .newsletter-popup-content{
    padding: 20px 10px;
  }

  input{
    min-width: 80%;
  }

  button {
    margin-top: 10px;
  }

}

@media (max-width: 376px){
  .home-devmtn-features{
    margin-top: 8%;
    margin-bottom: 9%;
  }
}

@media (max-width: 321px){
  .home-devmtn-features{
    margin-top: 8%;
    margin-bottom: 9%;
  }
  .feature-link{
    width: 150px;
    padding: 12px 0;
    font-size: 8px;
  }
}
